# BaCO3

### Ba^2+ (https://sakaki.issp.u-tokyo.ac.jp/expdata/periodic/Ba)
### CO3^2-

### python3のバージョンを確認

In [2]:
!which python3

/usr/bin/python3

### packageからVESTAを読みだす

In [3]:
from my_package import visualize

### ASEでPOSCARファイルを可視化

In [4]:
from ase.io import read, write
# POSCARファイルの読み込み
atoms = read('POSCAR')

# POSCARファイルの描画
from ase.visualize import view, ngl
ngl.view_ngl(atoms)

HBox(children=(NGLWidget(), VBox(children=(Dropdown(description='Show', options=('All', 'C', 'O', 'Ba'), value…

### Converting a POSCAR file to a DataFrame

In [5]:
from my_package.textfile2df import poscar2df_coords 

df_coords = poscar2df_coords(filename='./POSCAR')
df_coords

,central atom,x,y,z,Species
0,1,0.250000000000000,0.757000000000000,0.919000000000000,C
1,2,0.250000000000000,0.743000000000000,0.419000000000000,C
2,3,0.750000000000000,0.243000000000000,0.081000000000000,C
3,4,0.750000000000000,0.257000000000000,0.581000000000000,C
4,5,0.250000000000000,0.416310000000000,0.754900000000000,Ba
5,6,0.250000000000000,0.083690000000000,0.254900000000000,Ba
6,7,0.750000000000000,0.583690000000000,0.245100000000000,Ba
7,8,0.750000000000000,0.916310000000000,0.745100000000000,Ba
8,9,0.250000000000000,0.901100000000000,0.912200000000000,O
9,10,0.250000000000000,0.598900000000000,0.412200000000000,O
10,11,0.750000000000000,0.098900000000000,0.087800000000000,O
11,12,0.750000000000000,0.401100000000000,0.587800000000000,O
12,13,0.459500000000000,0.683900000000000,0.921000000000000,O
13,14,0.040500000000000,0.816100000000000,0.421000000000000,O
14,15,0.540500000000000,0.316100000000000,0.079000000000000,O
15,16,0.040500000000000,0.683900000000000,0.921000000000000,O
16,17,0.459500000000000,0.816100000000000,0.421000000000000,O
17,18,0.959500000000000,0.183900000000000,0.579000000000000,O
18,19,0.959500000000000,0.316100000000000,0.079000000000000,O
19,20,0.540500000000000,0.183900000000000,0.579000000000000,O

### converting POSCAR.nnlist to df_nnlist

In [6]:
from my_package.textfile2df import nnlist2df
import pandas as pd

#行の表示数の上限を撤廃
pd.set_option('display.max_rows', None)

df_nnlist = nnlist2df(POSCAR_nnlist='POSCAR.nnlist')
df_nnlist

,central atom,neighboring atom,distance,X,Y,Z,unitcell_x,unitcell_y,unitcell_z,central species,neighboring species
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
1,1,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
2,1,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
3,1,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O
4,2,2,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
5,2,10,1.282630,0.000000,-1.281885,-0.043713,0,0,0,C,O
6,2,14,1.289100,-1.112990,0.650283,0.012857,0,0,0,C,O
7,2,17,1.289100,1.112990,0.650283,0.012857,0,0,0,C,O
8,3,3,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
9,3,11,1.282630,0.000000,-1.281885,0.043713,0,0,0,C,O
10,3,15,1.289100,-1.112990,0.650283,-0.012857,0,0,0,C,O
11,3,19,1.289100,1.112990,0.650283,-0.012857,0,0,0,C,O
12,4,4,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
13,4,12,1.282630,0.000000,1.281885,0.043713,0,0,0,C,O
14,4,18,1.289100,1.112990,-0.650283,-0.012857,0,0,0,C,O
15,4,20,1.289100,-1.112990,-0.650283,-0.012857,0,0,0,C,O
16,5,5,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
17,6,6,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
18,7,7,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
19,8,8,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
20,9,1,1.282630,0.000000,-1.281885,0.043713,0,0,0,O,C
21,9,9,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
22,10,2,1.282630,0.000000,1.281885,0.043713,0,0,0,O,C
23,10,10,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
24,11,3,1.282630,0.000000,1.281885,-0.043713,0,0,0,O,C
25,11,11,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
26,12,4,1.282630,0.000000,-1.281885,-0.043713,0,0,0,O,C
27,12,12,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
28,13,1,1.289100,-1.112990,0.650283,-0.012857,0,0,0,O,C
29,13,13,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
30,14,2,1.289100,1.112990,-0.650283,-0.012857,0,0,0,O,C
31,14,14,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
32,15,3,1.289100,1.112990,-0.650283,0.012857,0,0,0,O,C
33,15,15,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
34,16,1,1.289100,1.112990,0.650283,-0.012857,0,0,0,O,C
35,16,16,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
36,17,2,1.289100,-1.112990,-0.650283,-0.012857,0,0,0,O,C
37,17,17,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
38,18,4,1.289100,-1.112990,0.650283,0.012857,0,0,0,O,C
39,18,18,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
40,19,3,1.289100,-1.112990,-0.650283,0.012857,0,0,0,O,C
41,19,19,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
42,20,4,1.289100,1.112990,0.650283,0.012857,0,0,0,O,C
43,20,20,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O

#### df_nnlist.groupby('central atom').count()['neighboring atom']で最も要素数の多いもののcentral atomをクラスタとして得る．
#### → クラスタ化されたcentral atomを重複削除する　
#### → 新しいcentral atomのリストを得る

In [24]:
print(df_nnlist.groupby('central atom').count()['neighboring atom'])
# これをフィルター化したものがget_elelem_max_num_filter_list

central atom
1     4
2     4
3     4
4     4
5     1
6     1
7     1
8     1
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    2
19    2
20    2
Name: neighboring atom, dtype: int64

#### df_nnlist.groupby('central atom').count()['neighboring atom']で最も要素数の多いもののcentral atomをクラスタとして得る．

In [19]:
def get_elem_max_filter(df_nnlist=df_nnlist):
    """
    To get cluster center abs coords from df_coords, Please use this filter.
    
    Input: df_nnlist 
 -> Output: The max number of element 
            in neighboring column of df_nnlist, 
            when df_nnlist groupbyed neighboring column and .count() 
    
    param1: df_nnlist: It should be created by nnlist2df()
    """
    
    elem_max_num = df_nnlist.groupby('central atom').count()['neighboring atom'].max()
    elem_max_num_filter = df_nnlist.groupby('central atom').count()['neighboring atom'] == elem_max_num
    elem_max_num_filter_list = elem_max_num_filter.to_list()
    return elem_max_num_filter_list

#### メモ：df_coords[elem_max_num_filter_list] によりクラスタ中心の絶対座標を得る

In [14]:
# df_coords[elem_max_num_filter_list]

#### df_nnlistで入力：central atom → 出力：neighboring atom を返す関数get_right_valueを作成．

In [46]:
import pandas as pd

# 入力値が左側の数値と同じ場合、対応する右側の数値を返す関数
def get_right_value(input_value):
    """
    To get all central atoms of a cluster(:neighbors), Input a number of cluster center element number(:central atom)
    
    Input: central atom column element In df_nnlist
 -> Output: All neighboring atom column element that Input(:elemnt) match central atom column element
    
    param1: Input: central atom column element In df_nnlist
    """
    
    # 左側の列から対応する行を選択し、右側の数値を取得
    # result = df_nnlist[df_nnlist['central atom'] == input_value]['neighboring atom'].values
    result = df_nnlist[df_nnlist['central atom'] == input_value]['neighboring atom'].tolist()
    return result

# 関数をテスト
get_right_value(1)

[1, 9, 13, 16]

#### クラスタ中心のcentral atom(id的な番号)の一覧を得る

### クラスタに選ばれなかった残りのcentral atom (≒id)の一覧を得る関数

In [50]:
def get_all_non_cluster_atom(df_nnlist=df_nnlist, df_coords=df_coords):
    """
    dependency: get_elem_max_filter(), get_right_value()
    
    To get non-clusterd central atom list, Use this func.
    
    
    Input: DataFrames
 -> Output: a list 
    
    param1: df_nnlist=df_nnlist
    param2: df_coords=df_coords
    """
    elem_max_num_filter_list = get_elem_max_filter(df_nnlist=df_nnlist)
    cluster_central_atom_list = df_coords[elem_max_num_filter_list]['central atom'].tolist()
    cluster_all_atom_list_dubled = [get_right_value(elem) for elem in cluster_central_atom_list]
    # 2重リストを1重リストにflated
    flat_list = [item for sublist in cluster_all_atom_list_dubled for item in sublist]
    # flat_listの重複削除
    cluster_all_atom_set = set(flat_list)
    
    # ここからdf_coordsを使う
    all_central_atom_set = set(df_coords['central atom'].tolist())
    
    # 差分を取得
    diff_central_atom_list = list(all_central_atom_set.difference(cluster_all_atom_set))
    
    return diff_central_atom_list

In [49]:
get_all_non_cluster_atom(df_nnlist=df_nnlist, df_coords=df_coords)

[8, 5, 6, 7]

### diff_central_atom_listをフィルター化する関数

In [54]:
# diff_central_atom_filter = df_coords['central atom'].apply(lambda row: row in diff_central_atom_list)
# これをget_diff_central_atom_filterに関数化

In [55]:
def get_diff_central_atom_filter(df_nnlist=df_nnlist, df_coords=df_coords):
    """
    dependency: get_all_non_cluster_atom()
    
    To convert list to filter, Use thie func.
    
    param1: df_nnlist=df_nnlist
    param2: df_coords=df_coords
    
    """
    
    diff_central_atom_list = get_all_non_cluster_atom(df_nnlist=df_nnlist, df_coords=df_coords)
    diff_central_atom_filter = df_coords['central atom'].apply(lambda row: row in diff_central_atom_list)
    return diff_central_atom_filter

### get_right_valueとcluster_central_atom_listを用いて，クラスタに入っている全原子のid(central atom)を得る．

In [32]:
# 1重リストに変換
flat_list = [item for sublist in cluster_all_atom_list_dubled for item in sublist]
# 重複削除
cluster_all_atom_set = set(flat_list)
# cluster_all_atom_list_fix = list(set(flat_list))
# print(cluster_all_atom_list_fix)

In [33]:
cluster_all_atom_set

{1, 2, 3, 4, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

#### cluster_all_atom_list_fixに含まれないcentral atomを抽出して、さらにdf_coord[]から得る．

In [34]:
all_central_atom_set = set(df_coords['central atom'].tolist())

In [35]:
all_central_atom_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [36]:
# 差分を取得
diff_central_atom_list = list(all_central_atom_set.difference(cluster_all_atom_set))
diff_central_atom_list

[8, 5, 6, 7]

### diff_central_atom_listをフィルター化する → df_coords[]に代入する

##### ある値がリストに含まれるかを判定する  ->  ex) 20 in diff_central_atom_list

In [37]:
20 in diff_central_atom_list

False

In [38]:
diff_central_atom_filter = df_coords['central atom'].apply(lambda row: row in diff_central_atom_list)
# print(diff_central_atom_filter)

In [56]:
# df_coords[diff_central_atom_filter]

,central atom,x,y,z,Species
4,5,0.250000000000000,0.416310000000000,0.754900000000000,Ba
5,6,0.250000000000000,0.083690000000000,0.254900000000000,Ba
6,7,0.750000000000000,0.583690000000000,0.245100000000000,Ba
7,8,0.750000000000000,0.916310000000000,0.745100000000000,Ba

In [59]:
df_coords[get_diff_central_atom_filter(df_nnlist=df_nnlist, df_coords=df_coords)]

,central atom,x,y,z,Species
4,5,0.250000000000000,0.416310000000000,0.754900000000000,Ba
5,6,0.250000000000000,0.083690000000000,0.254900000000000,Ba
6,7,0.750000000000000,0.583690000000000,0.245100000000000,Ba
7,8,0.750000000000000,0.916310000000000,0.745100000000000,Ba

<!-- ### 2つのフィルターをorで結合する関数 -->

In [ ]:
# def get_union_filter(filter1=diff_central_atom_filter, filter2=):


#     return central_atom_filter_fix

### df_coords[]で、クラスタの中心の絶対座標のフィルターと重複削除された残りの絶対座標のフィルターを結合してフィルターする

#### 過不足のないcentral atomのfilterが完成

In [67]:
# diff_central_atom_filter

In [68]:
# get_elem_max_filter(df_nnlist=df_nnlist)

In [72]:
central_atom_filter_fix = diff_central_atom_filter | get_elem_max_filter(df_nnlist=df_nnlist)
central_atom_filter_fix

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: central atom, dtype: bool

#### クラスタ後の新しい絶対座標を得る

In [73]:
df_coords_abs_center = df_coords[central_atom_filter_fix]
df_coords_abs_center

,central atom,x,y,z,Species
0,1,0.250000000000000,0.757000000000000,0.919000000000000,C
1,2,0.250000000000000,0.743000000000000,0.419000000000000,C
2,3,0.750000000000000,0.243000000000000,0.081000000000000,C
3,4,0.750000000000000,0.257000000000000,0.581000000000000,C
4,5,0.250000000000000,0.416310000000000,0.754900000000000,Ba
5,6,0.250000000000000,0.083690000000000,0.254900000000000,Ba
6,7,0.750000000000000,0.583690000000000,0.245100000000000,Ba
7,8,0.750000000000000,0.916310000000000,0.745100000000000,Ba

#### クラスタ後の新しい絶対座標を文字列→数値に変換 する関数

In [74]:
def df_elem_str2num(df_coords_abs_center=df_coords_abs_center):
    
    # 文字列を数値化する
    df_coords_abs_center['x'] = pd.to_numeric(df_coords_abs_center['x'], errors='coerce')
    df_coords_abs_center['y'] = pd.to_numeric(df_coords_abs_center['y'], errors='coerce')
    df_coords_abs_center['z'] = pd.to_numeric(df_coords_abs_center['z'], errors='coerce')
    
    return df_coords_abs_center

In [76]:
df_coords_abs_center = df_elem_str2num(df_coords_abs_center=df_coords_abs_center)

/tmp/ipykernel_25313/2352175167.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_abs_center['x'] = pd.to_numeric(df_coords_abs_center['x'], errors='coerce')
/tmp/ipykernel_25313/2352175167.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_abs_center['y'] = pd.to_numeric(df_coords_abs_center['y'], errors='coerce')
/tmp/ipykernel_25313/2352175167.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_abs_center['z'] = pd.to_numeric(df_coords_abs_center['z'], errors='coerce')

In [78]:
# 数値化したクラスタ後の絶対座標
df_coords_abs_center

   central atom        x        y        z Species
0             1 0.250000 0.757000 0.919000       C
1             2 0.250000 0.743000 0.419000       C
2             3 0.750000 0.243000 0.081000       C
3             4 0.750000 0.257000 0.581000       C
4             5 0.250000 0.416310 0.754900      Ba
5             6 0.250000 0.083690 0.254900      Ba
6             7 0.750000 0.583690 0.245100      Ba
7             8 0.750000 0.916310 0.745100      Ba

#### クラスタの相対中心座標を計算

In [79]:
df_nnlist_grouped = df_nnlist.groupby('central atom').mean()
# central atomカラムでgroupby.mean()した後、index列(central atom)をカラムにする   
df_nnlist_grouped = df_nnlist_grouped.reset_index()

/tmp/ipykernel_25313/3839055567.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_nnlist_grouped = df_nnlist.groupby('central atom').mean()

In [80]:
df_cluster_relative_center = df_nnlist_grouped[central_atom_filter_fix]
df_cluster_relative_center

,central atom,neighboring atom,distance,X,Y,Z,unitcell_x,unitcell_y,unitcell_z
0,1,9.750000,0.965207,0.000000,-0.004670,-0.004500,0.000000,0.000000,0.000000
1,2,10.750000,0.965207,0.000000,0.004670,-0.004500,0.000000,0.000000,0.000000
2,3,12.000000,0.965207,0.000000,0.004670,0.004500,0.000000,0.000000,0.000000
3,4,13.500000,0.965207,0.000000,-0.004670,0.004500,0.000000,0.000000,0.000000
4,5,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,6,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,7,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,8,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

### 絶対座標 + 相対座標の計算

In [81]:
def get_clusterd_coords(df_abs=df_coords_abs_center, df_relative=df_cluster_relative_center):
    df_coords_x = df_abs['x'] + df_relative['X']
    df_coords_y = df_abs['y'] + df_relative['Y']
    df_coords_z = df_abs['z'] + df_relative['Z']
    df_coords_species = df_abs['Species']

    # カラム名を指定してデータフレームを作成
    df_coords_fix = pd.DataFrame({
        'X': df_coords_x,
        'Y': df_coords_y,
        'Z': df_coords_z,
        'Species': df_coords_species,
    })

    return df_coords_fix

In [82]:
df_coords_fix = get_clusterd_coords(df_abs=df_coords_abs_center, df_relative=df_cluster_relative_center)
df_coords_fix

         X        Y        Z Species
0 0.250000 0.752330 0.914500       C
1 0.250000 0.747670 0.414500       C
2 0.750000 0.247670 0.085500       C
3 0.750000 0.252330 0.585500       C
4 0.250000 0.416310 0.754900      Ba
5 0.250000 0.083690 0.254900      Ba
6 0.750000 0.583690 0.245100      Ba
7 0.750000 0.916310 0.745100      Ba

In [41]:
### 元のPOSCARファイルから5行目までを抽出して、新しいPOSCARファイルに書き込む関数

In [83]:
def df2poscar(df=df_coords_fix, original_file="./POSCAR", output_file="gen_data/POSCAR"):
    """
    Writing the DataFrame(:df_coords_fix) to a POSCAR file.
    param1: DataFrame that has 'X', 'Y', 'Z' columns about coords.
    param2: original POSCAR file
    param3: generated POSCAR file
    """
    
    # df_coords_fixを文字列に変換
    def df2str(df):
        df_coords_fix_str = df[['X', 'Y', 'Z']].to_string(header=False, index=False, index_names=False)
        return df_coords_fix_str
    
    # df_coords_fixから元素種を文字列として抽出する関数
    def return_species(df):
        speies_0 = df['Species'].unique()[0]
        speies_1 = df['Species'].unique()[1]
        num_C = len(df[df['Species'] == speies_0])
        num_Ba = len(df[df['Species'] == speies_1])

        species_line = f"""   {speies_0}   {speies_1}
       {num_C}   {num_Ba}"""

       #  species_line = f"""   {speies_0}
       # {num_C}   """
        
        return species_line

    
    # 元のPOSCARファイルの5行目までを抽出し，新しいファイルに書き込む
    def wirte_header2poscar():
        # 最初の5行を抽出
        with open(original_file, 'r') as infile:
            lines = infile.readlines()[:5]
        # 新しいPOSCARファイルに書き込む
        with open(output_file, 'w') as outfile:
            outfile.writelines(lines)
    
    
    # 新しいPOSCARファイルに書き込んでいく
    def write_species2poscar():
        with open(output_file, 'a') as file:
            # すでに存在するテキストファイルに元素種を追記
            file.write(return_species(df) + '\n')
            # 元素種まで書かれたファイルにDirectという文字をを追記
            file.write('Direct\n' )
            # 直交座標を追記
            file.write(df2str(df))

            
    # 関数をcall
    df2str(df)
    wirte_header2poscar()
    write_species2poscar()
    
    print(f"{output_file} にクラスタ化後の内容が書き込まれました。")

In [84]:
df2poscar()

gen_data/POSCAR にクラスタ化後の内容が書き込まれました。

#### 編集後のposcarファイルをASEで可視化

In [92]:
from ase.io import read, write

output_file="gen_data/POSCAR"
# POSCARファイルの読み込み
atoms = read(output_file)

# POSCARファイルの描画
from ase.visualize import view, ngl
ngl.view_ngl(atoms)

HBox(children=(NGLWidget(), VBox(children=(Dropdown(description='Show', options=('All', 'C', 'Ba'), value='All…

In [93]:
from ase.io import read, write
# POSCARファイルの読み込み
atoms = read('POSCAR')

# POSCARファイルの描画
from ase.visualize import view, ngl
ngl.view_ngl(atoms)

HBox(children=(NGLWidget(), VBox(children=(Dropdown(description='Show', options=('All', 'C', 'O', 'Ba'), value…

#### 編集後のposcarファイルをVESTAで可視化

In [91]:
from my_package import visualize
output_file="gen_data/POSCAR"
visualize.vesta(output_file)

(VESTA-gui:26557): Gtk-WARNING **: 15:54:30.448: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-WARNING **: 15:54:30.448: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-WARNING **: 15:54:30.449: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-WARNING **: 15:54:30.449: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-CRITICAL **: 15:54:30.451: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook

(VESTA-gui:26557): Gtk-WARNING **: 15:54:30.680: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-WARNING **: 15:54:30.680: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-CRITICAL **: 15:54:30.680: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook

(VESTA-gui:26557): Gtk-WARNING **: 15:54:31.203: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-WARNING **: 15:54:31.203: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-WARNING **: 15:54:31.203: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-WARNING **: 15:54:31.203: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-CRITICAL **: 15:54:31.204: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook

(VESTA-gui:26557): Gtk-WARNING **: 15:54:31.346: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-WARNING **: 15:54:31.346: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:26557): Gtk-CRITICAL **: 15:54:31.346: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook